{
    admin :2019
    servers {
        metrics
    }
}

:80 {
  root * /app
  file_server
  handle_path /api/* {
    reverse_proxy backend
  }
  respond /health "OK" 200 {
    close
  }
  log {
    format json
    output stdout
  }
}